@import "../../abstracts/variables";

.homeHeader {
  width: 100%;
  height: 100dvh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  overflow: hidden;
  background-color: var(--background-primary);
  box-shadow: var(--background-secondary) 0px 500px 150px -300px inset,
    var(--background-secondary) 0px 18px 36px -18px inset;
  transition: all 0.3s 0.3s ease;
  &__container {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    max-width: 1440px;
    flex-direction: row;
    padding: 0em 1em;

    .images {
      width: 45%;
      height: auto;
      position: relative;
      overflow: visible;
      filter: drop-shadow(0px 0px 50px var(--shadow-home-header-images));

      opacity: 1 !important;
      visibility: visible !important;

      .desktop {
        width: 100%;
        height: 110%;
        scale: 1.2;
        z-index: 0;
        position: relative;
        object-fit: cover;
        opacity: 1;
      }
      .mobile,
      .tablet {
        position: absolute;
        width: fit-content;
        height: 100%;
        object-fit: scale-down;
        scale: 1;
        z-index: 1;
        opacity: 1;
      }
      .mobile {
        top: -7em;
        left: 25%;
      }
      .tablet {
        top: -2em;
        right: 15%;
      }
    }

    .info {
      width: 55%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      z-index: 1;
    }
    .title {
      width: 100%;
      height: fit-content;
      h1 {
        font-size: 3em;
        text-transform: uppercase;
        color: var(--text-primary);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        transition: all 0.3s 0.3s ease;
      }

      h2 {
        font-size: 1.5em;
        text-transform: uppercase;
        color: var(--text-primary);
        margin-bottom: 0.5em;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.6em;
        width: fit-content;
        transition: all 0.3s 0.3s ease;

        strong {
          color: var(--accent-color);
          font-weight: 700;
        }
        #icon-frontend {
          margin-left: 10px;
          scale: 1.5;
          color: var(--accent-color);
          transition: all 0.3s 0.3s ease;
        }
        #icon {
          scale: 1.5;
          color: var(--text-primary);
          transition: all 0.3s 0.3s ease;
        }
      }
      &-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }
      p {
        font-size: 1em;
        line-height: 1.5;
        text-align: left;
        color: var(--text-primary);
        max-width: 65ch;
        font-weight: 300;
        transition: all 0.3s 0.3s ease;
        span {
          color: var(--accent-color);
          font-weight: 500;
        }
        strong {
          color: var(--accent-color);
          font-weight: 300;
          text-transform: uppercase;
          font-weight: 300;
          letter-spacing: 1px;
        }
      }
    }
    .socials {
      display: flex;
      flex-direction: row;
      gap: 1em;
      margin-top: 1em;

      &__icon {
        width: 40px;
        height: 40px;
        border: 1px solid var(--border-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
        transition: border 0.3s 0.3s ease;
        #icon {
          transition: color 0.3s 0.3s ease, scale 0.3s ease-in-out,
            /* en lugar de 'scale' se usa 'transform' */ background-color 0.3s
              ease-in-out;
          scale: 1.3;
          color: var(--accent-color);
        }
        &:hover {
          background-color: var(--hover-button-color);
          #icon {
            scale: 1.4;
          }
        }
      }
      &__btn {
        width: fit-content;
        padding: 0 1em;
        height: 40px;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        transition: border 0.3s 0.3s ease;
        a {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          p {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1em;
            font-size: 1em;
            font-weight: 300;
            color: var(--text-secondary);
            transition: color 0.3s 0.3s ease;
          }
        }
        &:hover {
          background-color: var(--hover-button-color);
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .homeHeader {
    width: 100%;
    height: 100%;
    padding: 1em;

    &__container {
      width: 100%;
      height: 100%;
      max-width: 720px;
      padding: 0em 0em;
      flex-direction: column;
      gap: 2em;
      align-items: center;
      justify-content: center;
      .images {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 400px;
        filter: drop-shadow(0px 0px 20px var(--shadow-home-header-images));
        .desktop {
          width: 100%;
          height: 100%;
          scale: 1.05;
          z-index: 1;
          position: relative;
          object-fit: scale-down;
          rotate: -10deg;
        }
        .mobile,
        .tablet {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: scale-down;
          scale: 0.65;
          z-index: 2;
          max-width: 500px;
        }
        .mobile {
          top: 0em;
          left: 15%;
        }
        .tablet {
          top: -2em;
          right: 20%;
        }
      }

      .info {
        width: 100%;
        height: 50%;
        margin-top: 6em;

        align-items: flex-start;
        justify-content: flex-start;
      }
      .title {
        h1 {
          font-size: 2em;
          gap: 0.4em;
          @media (max-width: 321px) {
            font-size: 1.5em;
            font-weight: 800;
          }
        }

        h2 {
          font-size: 1.2em;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 0.5em;
          gap: 0;
          @media (max-width: 321px) {
            font-size: 1em;
            font-weight: 800;
          }
          #icon-frontend {
            margin-left: 0px;
            scale: 1.2;
          }
          #icon {
            scale: 1.2;
          }
        }
        &-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 10px;
        }
        p {
          font-size: 0.9em;
          line-height: unset;
          max-width: unset;
        }
      }
      .socials {
        gap: 1em;
        margin-top: 1em;

        &__icon {
          width: 40px;
          height: 40px;
          border: 1px solid var(--border-color);

          #icon {
            scale: 1.3;
          }
        }
        &__btn {
          width: 180px;
          height: 40px;

          a {
            gap: 1em;
          }
        }
      }
    }
  }
}
@media (min-width: 720px) and (max-width: 1024px) {
  .homeHeader {
    width: 100%;
    height: 100dvh;
    padding: 1em;

    &__container {
      width: 100%;
      height: 100%;
      max-width: 720px;
      padding: 0em 0em;
      flex-direction: column;

      .images {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(0px 0px 20px var(--shadow-home-header-images));
        .desktop {
          width: 100%;
          height: 100%;
          scale: 2;
          z-index: 0;
          position: relative;
          object-fit: scale-down;
          rotate: -25deg;
        }
        .mobile,
        .tablet {
          position: absolute;
          width: fit-content;
          height: 100%;
          object-fit: scale-down;
          scale: 1;
          z-index: 1;
        }
        .mobile {
          top: -1.2em;
          left: 50%;
        }
        .tablet {
          top: -2em;
          right: 45%;
        }
      }

      .info {
        width: 100%;
        height: 50%;
      }
      .title {
        h1 {
          font-size: 3em;
          gap: 0.4em;
        }

        h2 {
          font-size: 1.2em;

          margin-bottom: 0.5em;

          gap: 0.6em;

          #icon-frontend {
            margin-left: 10px;
            scale: 1.5;
          }
          #icon {
            scale: 1.5;
          }
        }
        p {
          font-size: 1em;

          max-width: unset;
        }
      }
      .socials {
        gap: 1em;
        margin-top: 1em;

        &__icon {
          width: 40px;
          height: 40px;
          border: 1px solid var(--border-color);

          #icon {
            scale: 1.3;
          }
        }
        &__btn {
          width: 180px;
          height: 40px;

          a {
            gap: 1em;
          }
        }
      }
    }
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .homeHeader {
    width: 100%;
    height: 100dvh;
    padding: 1em;

    &__container {
      width: 100%;
      height: 50%;
      max-width: 1024px;
      padding: 0em 0em;

      .images {
        width: 50%;
        height: auto;
        .desktop {
          width: 100%;
          height: 100%;
          scale: 1;
          z-index: 0;
          position: relative;
          object-fit: cover;
        }
        .mobile,
        .tablet {
          position: absolute;
          width: fit-content;
          height: 100%;
          object-fit: scale-down;
          scale: 0.7;
          z-index: 1;
        }
        .mobile {
          top: -7em;
          left: 50px;
        }
        .tablet {
          top: -2em;
          right: 70px;
        }
      }

      .info {
        width: 64%;
        height: 100%;
      }
      .title {
        h1 {
          font-size: 3em;
          gap: 0.4em;
        }

        h2 {
          font-size: 1.2em;

          margin-bottom: 0.5em;

          gap: 0.6em;

          #icon-frontend {
            margin-left: 10px;
            scale: 1.5;
          }
          #icon {
            scale: 1.5;
          }
        }
        p {
          font-size: 1em;

          max-width: unset;
        }
      }
      .socials {
        gap: 1em;
        margin-top: 1em;

        &__icon {
          width: 40px;
          height: 40px;
          border: 1px solid var(--border-color);

          #icon {
            scale: 1.3;
          }
        }
        &__btn {
          width: 180px;
          height: 40px;

          a {
            gap: 1em;
          }
        }
      }
    }
  }
}
@media (min-width: 1280px) and (max-width: 1440px) {
  .homeHeader {
    width: 100%;
    height: 100dvh;
    padding: 1em;

    &__container {
      width: 100%;
      height: 50%;
      max-width: 1280px;
      padding: 0em 0em;
      .images {
        width: 40%;
        height: auto;
        .desktop {
          width: 100%;
          height: 100%;
          scale: 1;
          z-index: 0;
          position: relative;
          object-fit: cover;
        }
        .mobile,
        .tablet {
          position: absolute;
          width: fit-content;
          height: 100%;
          object-fit: scale-down;
          scale: 0.7;
          z-index: 1;
        }
        .mobile {
          top: -7em;
          left: 50px;
        }
        .tablet {
          top: -2em;
          right: 70px;
        }
      }

      .info {
        width: 60%;
        height: 100%;
      }
      .title {
        h1 {
          font-size: 3em;
          gap: 0.4em;
        }

        h2 {
          font-size: 1.5em;

          margin-bottom: 0.5em;

          gap: 0.6em;

          #icon-frontend {
            margin-left: 10px;
            scale: 1.5;
          }
          #icon {
            scale: 1.5;
          }
        }
        p {
          font-size: 1em;

          max-width: 65ch;
        }
      }
      .socials {
        gap: 1em;
        margin-top: 1em;

        &__icon {
          width: 40px;
          height: 40px;
          border: 1px solid var(--border-color);

          #icon {
            scale: 1.3;
          }
        }
        &__btn {
          width: 180px;
          height: 40px;

          a {
            gap: 1em;
          }
        }
      }
    }
  }
}
