@import '../abstracts/variables';


.nav {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    &__container{
        height: 70px;
        color: $primary-text;
        padding: .5em 0em;
        border-radius: 10px;
        border: 1px solid $border-color;
        width: 850px;
        background-color: transparent;
        backdrop-filter: blur(100px);
        ul{
            display: flex;
            flex-direction: row;
            height: 100%;
            width: 100%;
            gap: .5em;
            justify-content: space-evenly;
            #contact{
              border-color: $accent-color;
              color: $accent-color;
              &:hover{
                background-color: $accent-color;
                color: $border-color;
              }
            }
            #home{
                &::after{
                    position: absolute;
                    content: "";
                    width: 70%;
                    height: 3px;
                    background-color: $accent-color;
                    bottom: -1px;
                    left: 15%;
                }
            }
            li{
                position: relative;
                width: 150px;
                height: 100%;
                background-color: $surface;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                cursor: pointer;
                border: 1px solid $surface;
                transition: all .3s ease-in;
                @media(hover:hover){
                    &:hover{
                        border-color: $accent-color;
                     .nav-icon{
                        color: $accent-color;
                     }
                    }
                }
             a{
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 gap: 10px;
                 font-size: 1em;
                 font-weight: 500;
                 .nav-icon{
                   transition: all .3s ease-in-out;
                  }
                 
             }
            }
        }
    }
}