@use "../../abstracts/variables";

.projectModal {
  width: 100%;
  height: 100%;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-primary);
  border-radius: 0em;
  transition: all 0.3s ease-in;
  .close {
    position: fixed;
    top: 5em;
    right: 1em;
    border: 1px solid var(--border-color);
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
     background-color: var(--text-primary);
   color: var(--background-secondary);
    #icon {
      scale: 1.2;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      border-radius: 50%;
      #icon {
      scale: 1.5;
      }
    }
  }
  &__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--project-bg-2);
    max-width: 1440px;
    padding: 2em;
    border-top-left-radius: 15px;
    position: relative;
    z-index: 8888;
    background-image: url("/bg-patter-6.png");
    background-blend-mode: var(--blend-mode);
    opacity: 0;
    animation: modal-fade-up 1s 0.3s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    margin-top: 15em;
    overflow-y: auto;
    border: 0;
    transition: all 0.3s ease-in;

    &::-webkit-scrollbar {
      width: 10px;
      transition: all 0.3s ease-in-out;
    }

    &::-webkit-scrollbar-track {
      background: var(--background-primary-reversed);
      border-radius: 1px;
      transition: all 0.3s ease-in-out;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--accent-color);
      border-radius: 1px;
      transition: all 0.3s ease-in-out;
    }
    .fade-in-animation{
      opacity: 0;
       animation: fade-in-anim .3s 0.1s ease-in forwards;
    }
    .info-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 1em;
      margin-bottom: 3em;
     
     
      .thumbnail {
        width: 50%;
        height: auto;
        aspect-ratio: 16/9;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }
      .details {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        h3 {
          font-size: 3em;
          color: var(--project-title-color);
          margin-bottom: 0.3em;
        }
        span {
          font-size: 1.5em;
          color: var(--project-title-color);
          margin-bottom: 0.5em;
          text-transform: uppercase;
          font-weight: 600;
        }

        .stack {
          width: 100%;
          height: fit-content;
          display: flex;
          flex-direction: row;
          gap: 1em;
          justify-content: flex-start;
          background-color: transparent;
          flex-wrap: wrap;
          border-bottom: 1px solid var(--border-color-halftone);
          padding-bottom: 1em;
        }
        .actions {
          width: 100%;
          height: fit-content;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: flex-end;
          gap: 1em;
          margin-top: auto;
          span{
            margin-bottom: 0;
          }
          &-item {
            width: fit-content !important;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: fit-content;
            height: 35px;
            background-color: var(--project-button-color);
            backdrop-filter: blur(0.8px);
            border-radius: 5px;
            padding: 0 2em;
            gap: 1em;
            box-shadow: var(--border-color) -1px 1.5px 0.5px 1px;
            transition: all 0.3s ease-in;
            cursor: pointer;
            @media (hover: hover) {
              &:hover {
                box-shadow: var(
                  --disabledShadowColor,
                  var(--accent-color) -1px 1.5px 0.5px 1px
                );
              }
            }
            &-text {
              font-size: 1.2em;
              text-transform: uppercase;
              font-weight: 600;
              color: var(--button-text);
              letter-spacing: 1px;
              transition: all 0.3s ease-in;

            }
            &-icon {
              color: var(--accent-color);
              scale: 1.2;
              transition: all 0.3s ease-in;
            }
          }
        }
      }
    }
    .description-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1em;
      h5 {
        text-transform: uppercase;
        font-size: 2.5em;
        color: var(--project-title-color);
        line-height: 1.5;
      }
      p {
        font-size: 1.2em;
        color: var(--project-title-color);
        line-height: 1.5;
        font-weight: 500;
         white-space: pre-wrap; 
      }
    }
  }
}

.fade-up {
  animation: modal-fade-up 0.7s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
.fade-down {
  animation: modal-fade-down 0.5s cubic-bezier(0.55, 0, 1, 0.45) forwards;
}
@keyframes modal-fade-up {
  0% {
    opacity: 0;
    transform: translateY(100dvh);
  }
  70% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modal-fade-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(100dvh);
    opacity: 1;
  }
}
@keyframes fade-in-anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}