@use "../../abstracts/variables";

.projects {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-primary);
  z-index: 10;
  transition: all 0.7s ease-in;
  &__container {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    h2 {
      font-size: 3em;
      color: var(--text-primary);
      text-transform: uppercase;
      transition: all 0.7s ease-in;
    }
  }

  &__content {
    margin-top: 1em;
    width: 100%;
    height: 100%;
    margin-bottom: 5em;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 8em 2em 2em 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
    gap: 2em;
    position: relative;
    box-shadow: var(--background-reversed) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 10;
    transition: all 0.7s ease-in;
    background-color: var(--project-bg-2);
    background-image: url("/bg-patter-6.png");
    background-blend-mode: var(--blend-mode);
    .title {
      position: absolute;
      top: 2em;
      width: 95.5%;
      h3 {
        color: var(--project-title-color);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 2.5em;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.1em;
        transition: all 0.7s ease-in;
        img {
          max-width: 70px;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
  &__item {
    width: calc(50% - 1em);
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: var(--project-title-color) -5px 3px 5px -4px;
      border: 1px solid var(--project-title-color);
    }
    &-info {
      width: 100%;
      height: 270px;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      margin-top: 0.5em;

      .badges {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        gap: 1em;
        margin-top: 0.5em;
        flex-wrap: wrap;
      }

      .project_title {
        width: 100%;
        height: fit-content;
        h4 {
          color: var(--project-title-color);
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 2.5em;
          font-weight: 500;
        }
      }

      .disabled {
        --disabledShadowColor: yellow -1px 1.5px 0.5px 1px;
        --disabledColor: rgb(71, 71, 71);
      }
      .links {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 1em;
        margin-top: auto;
  
        &-item {
          width: fit-content !important;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: fit-content;
          height: 30px;
          background-color: var(--project-button-color);
          backdrop-filter: blur(0.8px);
          border-radius: 5px;
          padding: 0 0.5em;
          gap: 1em;
          box-shadow: var(--border-color) -1px 1.5px 0.5px 1px;
          transition: all 0.3s ease-in;
          cursor: pointer;
          @media (hover: hover) {
            &:hover {
              box-shadow: var(
                --disabledShadowColor,
                var(--accent-color) -1px 1.5px 0.5px 1px
              );
            }
          }
          &-text {
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
            color: var(--button-text);
            letter-spacing: 1px;
            transition: all 0.3s ease-in;
          }
          &-icon {
            color: var(--accent-color);
            scale: 1.2;
            transition: all 0.3s ease-in;
          }
        }
      }
    }
  }
}
